/*styles*/
:root {
	--footer-bg-color: #0b1524;
	--main-key: #1b2330;
	--main-white: #ffffff;
	--main-blue: #62e0d9;
	--main-light-key: #202a3c;
}
.body {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", "Arial", sans-serif;
	box-sizing: border-box;
	background-color: var(--main-key);
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
.container {
	max-width: 1220;
	margin: auto;
	padding: 0 20px;
}
.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

/*===mobile styles===*/

/*general styles*/
.main-button {
	display: inline-block;
	min-width: 240px;
	margin: 0 auto;
	padding: 16px 32px;
	color: var(--main-white);
	text-align: center;
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
	border-radius: 24px;
	border: none;
	text-transform: capitalize;
	background-color: #34A0CD;
	background-image: linear-gradient(152.13deg, #63E1D9 -150.21%, #34A0CD 170.03%);
}
h1, h2, h3, h4 {
	font-family: "Raleway", "Arial", sans-serif;
}

/*header*/
.site-header {
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
	margin-top: 24px;
	margin-bottom: 50px;
}
.logo {
	display: block;
	width: 80px;
	height: 24px;
}
.site-header-list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.site-header-item:nth-child(2) {
	margin: 0 24px;
}
.site-header-link {
	font-size: 12px;
	line-height: 14px;
	color: var(--main-white);
	text-decoration: none;
	text-transform: capitalize;
}

/*hero*/
.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 120px;
	color: var(--main-white);
}
.hero-heading {
	margin-top: 33px;
	margin-bottom: 15px;
	font-size: 24px;
	line-height: 36px;
	text-align: center;
}
.hero-img {
	order: -1;
}
.hero-text {
	margin: 0;
	margin-bottom: 32px;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
}
.hero-button {
	text-decoration: none;
}

/*features*/
.features {
	margin-bottom: 160px;
	color: var(--main-white);
}
.features-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}
.features-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 80px;
}
	.features-item::before {
		content: "";
		width: 80px;
		height: 80px;
		background-repeat: no-repeat;
		background-position: center;
		-webkit-background-size: contain;
		background-size: contain;
	}
	.feature-access::before {
		background-image: url("../img/access.svg");
	}
	.feature-security::before {
		background-image: url("../img/security.svg");
	}
	.feature-real-time::before {
		background-image: url("../img/real-time.svg");
	}
	.feature-store::before {
		background-image: url("../img/store.svg");
	}
.features-heading {
	font-size: 18px;
	line-height: 24px;
}
.features-text {
	font-size: 14px;
	line-height: 21px;
}

/*productive*/
.productive {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 160px;
	color: var(--main-white);
}
.productive-heading {
	margin: 0;
	margin-top: 48px;
	margin-bottom: 16px;
	text-align: center;
	font-size: 18px;
	line-height: 24px;
}
.productive-img {
	order: -1;
}
.productive-text {
	font-size: 14px;
	line-height: 21px;
	margin: 0;
	margin-bottom: 16px;
}
.productive-link {
	align-self: flex-start;
	display: flex;
	align-items: center;
	padding-bottom: 7px;
	font-size: 12px;
	line-height: 16px;
	text-decoration: none;
	color: var(--main-blue);
	border-bottom: 1px solid var(--main-blue);
}
.productive-link:after {
	content: "";
	width: 14px;
	height: 14px;
	margin-left: 7px;
	border-radius: 50%;
	background-image: 
	  url("../img/arrow-forward.svg"), 
	  linear-gradient(to right, var(--main-blue), var(--main-blue));
	background-repeat: no-repeat;
	background-position: left 1px center, center;
	-webkit-background-size: contain;
	background-size: contain;
	box-shadow: 0px 0px 2px rgba(98, 224, 217, 0.8);
}

/*quotes*/
.quotes {
	padding: 0 28px;
	margin-bottom: 160px;
	color: var(--main-white);
}
.quotes-list {
	position: relative;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.quotes-list::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 100%;
	width: 32px;
	height: 9px;
	background-image: url("../img/quote-sign.svg");
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	background-position: center;
}
.quotes-item {
	padding: 24px 20px;
	margin-bottom: 24px;
	border-radius: 4px;
	background-color: var(--main-light-key);
}
.quotes-text {
	display: block;
	margin-bottom: 17px;
	font-size: 10px;
	line-height: 18px;
}
.quotes-author {
	display: flex;
	align-items: center;
}
.quotes-img {
	width: 24px;
	height: 24px;
	border-radius: 50%;
}
.quotes-wrapper {
	margin-left: 8px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.quotes-name {
	font-size: 10px;
	line-height: 12px;
	font-weight: 700;
}
.quotes-company {
	font-size: 7px;
	line-height: 10px;
}

/*subscription*/
.subscription {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px 28px;
	text-align: center;
	color: var(--main-white);
	background-color: var(--main-light-key);
	border-radius: 9px;
}
.subscription-heading {
	margin: 0;
	margin-bottom: 16px;
}
.subscription-text {
	margin: 0;
	margin-bottom: 32px;
}
.subscription-input {
	padding: 10px 29px;
	border: none;
	background-color: var(--main-white);
	border-radius: 24px;
}
.input-wrapper {
	margin-bottom: 24px;
}
.subscription-input::placeholder {
	font-size: 10px;
	line-height: 25px;
}
.subscription-button {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
}